
*.class

gen/com/sina/sinavideo/coreplayer/R.java

*.i

bin/AndroidManifest.xml

bin/res/crunch/drawable-mdpi/ic_launcher.png

bin/R.txt

bin/res/crunch/drawable-hdpi/ic_launcher.png

bin/res/crunch/drawable-xhdpi/ic_launcher.png

bin/res/crunch/drawable-xxhdpi/ic_launcher.png

bin/sinavideo_playercore_v2.0.jar

gen/com/sina/sinavideo/coreplayer/BuildConfig.java

.hg/sourcetreeconfig

.hg/requires
